@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Henry's Book Store</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Browse Inventory</h2>
        <p><a class="btn btn-default" href='@Url.Action("Inventory","Home")'><img src='@Url.Content("~/Content/Images/inventory.jpg")' /></a></p>
    </div>
    <div class="col-md-6">
        <h2>Browse By Author</h2>
        <p><a class="btn btn-default" href='@Url.Action("Author","Home")'><img src='@Url.Content("~/Content/Images/author.jpg")' /></a></p>
    </div>
    <div class="col-md-6">
        <h2>Browse By Publisher</h2>
        <p><a class="btn btn-default" href='@Url.Action("Publisher","Home")'><img src='@Url.Content("~/Content/Images/publisher.jpg")' /></a></p>
    </div>
    <div class="col-md-6">
        <h2>Browse By Location</h2>
        <p><a class="btn btn-default" href='@Url.Action("Location","Home")'><img src='@Url.Content("~/Content/Images/bookstore.jpg")' /></a></p>
    </div>
</div>